force-app/main/default/flows/Count_Completed_Surveys.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Find_collection_size</name>
        <label>Find collection size</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>CompletedSurveys</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Completed_Surveys</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Survey</targetReference>
        </connector>
    </assignments>
    <description>Count completed Survey Taker records and put the number on the Survey record</description>
    <interviewLabel>Count Completed Surveys {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Count Completed Surveys</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Query all completed survey taker records for that survey</description>
        <name>Get_Completed_Surveys</name>
        <label>Get Completed Surveys</label>
        <locationX>176</locationX>
        <locationY>311</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Find_collection_size</targetReference>
        </connector>
        <filters>
            <field>Survey__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Survey__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Completed__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SurveyTaker__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Completed__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Survey</name>
        <label>Update Survey</label>
        <locationX>176</locationX>
        <locationY>551</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Survey__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Completed_Surveys__c</field>
            <value>
                <elementReference>CompletedSurveys</elementReference>
            </value>
        </inputAssignments>
        <object>Survey__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Completed_Surveys</targetReference>
        </connector>
        <filters>
            <field>Completed__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>SurveyTaker__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <description>Count of completed surveys</description>
        <name>CompletedSurveys</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
